body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 0px;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #413f3f;
    color: white;
}

span {
    display: inline-block;
    margin: 10px;
}

#password-container {
    border: 2px solid #4b3eff;
    border-radius: 14px;
    display: inline-block;
    background-color: #4b3eff;
    color: white;
    margin-bottom: 20px;
}

#password-display {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

#genrate-button {
    margin-top: 20px;
    border: 2px solid #4b3eff;
    border-radius: 10px;
    background-color: #4b3eff;
    color: white;
}

#genrate-button-text {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.textbox {
    width: 60px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background-color: #f1f1f1;
}
